include ./game-day

- const processedGames = utils.games.processGames(games);

#games-cont
  - const numRecentPost = Object.keys(processedGames.recentPost).length
  if numRecentPost > 0
    each games, date in processedGames.recentPost
      +game_day(games, date)
  - const numPre = Object.keys(processedGames.pre).length
  if numPre > 0
    #upcoming-games
      include ./games-upcoming
  - const numPost = Object.keys(processedGames.post).length
  if numPost > 0
    #completed-games
      include ./games-completed.pug