include ./game-day

h2 Completed Games
- let post_i = 0
each games, date in processedGames.post
  if (cutoff === null) || (post_i < cutoff)
    +game_day(games, date)
    - post_i++
if (cutoff !== null) && (cutoff < Object.keys(processedGames.post).length)
  .expand
      button.btn-cta Show more